<a id="movie-card-a" href="/movie-info" >
    <figure id="movie-card">
        <img src=<%= `${gridElements.imgString}` %> class="hp-logo-image" alt="MockBusters logo image">
        <figcaption>
            <p><span id="movie-name"><%= movie.movieName %></span></p>
            <p></strong><span id="movie-info">"<%= movie.movieInfo %> "</span></p>
            <p><strong>Genre : <span id="movie-gnere"></strong><%= movie.movieGenre %></span></p>
           <%= movie.selected%>
        </figcaption>
    </figure>
</a>