<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <!-- Scripts -->
  <script src="//code.jquery.com/jquery-3.7.1.js"></script>
  <script src="//cdn.datatables.net/2.3.7/js/dataTables.js"></script>
  <!-- Styles -->
  <link href="//cdn.datatables.net/2.3.7/css/dataTables.dataTables.css" rel="stylesheet">
</head>

<!--   
const order = {
    firstName: req.body.fname,
    lastName: req.body.lname,
    address: req.body.aname,
    city: req.body.cname,
    state: req.body.sname,
    zipcode: req.body.zname,
    creditcard: req.body["credit-card-name"],
    expiration: req.body.exname,
    extension: req.body["expiration-name"],
    delivery: req.body.delivery,
    timestamp: new Date()
  } 
-->

<body>
  <table id="order-table" class="display">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Email</th>
        <th>Address</th>
        <th>Movie</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(order => {%>
      <tr>
        <td><%=order.customer%></td>
        <td><%=order.email%></td>
        <td><%=order.address%></td>
        <td><%=order.title%></td>
        <td><%=order.timestamp.toLocaleString()%></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <script defer>
    let table = new DataTable('#order-table');
  </script>
</body>

</html>