<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" href="images/mbLogo.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Submit</title>
</head>
<body>

      <%- include ('../views/partials/header.ejs') %>
<main id="confirmation-section">
  <div id="confirmation-container">

    <h1>Thank you!  <%= order.firstName %>!</h1>
    <h2>Your Order Details</h2>
    <p>Name: <%= order.firstName %> </p>
    <p>LastName:  <%= order.lastName %></p>
    <p>Email:  <%= order.email %></p>
    <p>City:  <%= order.city %></p>
    <p>State:  <%= order.state %></p>
    <p>Zipcode:  <%= order.zipcode %></p>
    

    <!--
     const order = {
    firstName: req.body.fname,
    lastName: req.body.lname,
    address: req.body.aname,
    city: req.body.cname,
    state: req.body.sname,
    zipcode: req.body.zname,
    creditcard: req.body["credit-name"],
    extension: req.body["extension-name"],
    expiration: req.body["exname"],
    delivery: req.body["dtd-name"],
    timestamp: new Date()
  }
    
    -->
    <a href="/">Return</a>
    <!-- This page is extremely unfinished and temporary. -->
      </div>
    </main>
  </body>
</html>