<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/mbLogo.png">
  <title>MockBusters</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>


  <body>
  <%- include ('../views/partials/header.ejs') %>

    <main>
      <div id="movieInfo-grid">
        <section id="selected-movie-section">
            <img src=<%= `${movie.movieCover}` %> id="movie-info-cover-img" alt="MockBusters logo image">
            <h3><%= movie.movieName %></h3>
            <p id="advanceInfo"><%= movie.movieAdvancedInfo %></p>
            <p><strong>Genre: </strong> <span><%= movie.movieGenre %></span> </p>
            <p><strong>Rated: </strong> <span><%= movie.movieRating %></span> </p>
            <p><strong>reviews: </strong> <span><%= movie.movieReview %></span> </p>
        </section>
        <a id="movieInfo-rent-a" href="/billing?index=<%=index%>">RENT MOVIE</a>
      </div>
    </main>
  </body>
</html>

<!-- <script>
THIS COULD BE ADDED TO AN SQL CALL

  function sk(index){
    if(!localStorage.getItem("cart")){
      localStorage.setItem("cart", JSON.stringify([]));
    }

    let cart = JSON.parse(localStorage.getItem("cart")) || [];
    cart.push(index);

    localStorage.setItem("cart", JSON.stringify(cart));
  }
</script> -->